body
{
	background-color: orange;
	font-family: verdana;
}
.c_2
{
	display: block;
}
.l_1
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li 
{
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover
{
	color: red;
	background-color: black
}
h1
{
	color: white;
	font-family: verdana;
}